{
    "NODE_ENV": "${NODE_ENV}",
    "PORT": "${PORT}",
    "HOST": "${HOST}",
    "JET_LOGGER_MODE": "${JET_LOGGER_MODE}",
    "JET_LOGGER_FILEPATH": "${JET_LOGGER_FILEPATH}",
    "JET_LOGGER_TIMESTAMP": "${JET_LOGGER_TIMESTAMP}",
    "JET_LOGGER_FORMAT": "${JET_LOGGER_FORMAT}"
}